<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h3>Informations</h3>
            <p>Points fidélité</p>
            <p>Guide d'entretien</p>  
            <p>Mentions légales</p>
            <p>CGV</p>
            
        </div>
        <div class="footer-section">
            <h3>Contact</h3>
            <p>Email: contact&#64;BKparfumerie.com</p>
            <p>Tél: +33 1 23 45 67 89</p>
        </div>
       <div class="footer-section">
    <h3>Suivez-nous</h3>
    <div class="social-links">
        <a href="#" class="social-link">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="#" class="social-link">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="social-link">
            <i class="fab fa-twitter"></i>
        </a>
    </div>
</div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Parfumerie. Tous droits réservés.</p>
    </div>
</footer>
